<p id="notice"><%= notice %></p>

<h1><%= @show.name %></h1>

<%= render 'table' %>
<br>
<%= link_to 'Add Episode', new_video_path %>
<br>
<br>
<%= link_to 'Edit', edit_show_path(@show) %> |
<%= link_to 'Back', shows_path %>
